<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
			I have one and a half years of software development experience in a professional environment
			in a large organisation. I am working my way towards becoming a proficient full-stack developer.
			I have experience in building scalable backend services including API services. 
        </p>
        <p>
           I love programming and I am very passionate about my projects that I work on.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a PHP Developer role which will allow me to develope myself into a competent full-stack developer.
		   I have the base knowledge which I have gained from my BSc. and Masters degree programs. 
		   I love to work in a team where I can take on on collaborative
           team responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Highly motivated towards work. Good time keeping. Professional attitude towards work. A very friendly person so easy to approach.
    			</li>
          <li>
            Worked with cron jobs.
          <li>
            Created testing for API for the project and later on we moved on to API testing tool so got hands on learning new way of handling and testing API calls.
    			<li>
            Created functions for archiving database tables with data and management of miss matched columns.
    			</li>
    			<li>
            Uploading and downloading data files with a range of file types like pdf, xlsx and csv files.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
