<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for as technology is evolving everyday and I enjoy keeping my knowledge upto date.
			  </li>
			  <li>
				  <b>Sports</b>. I've been an enthusiastic cricket player since I was a teenager - but as an adult this has become more of a hobby.
			  </li>
			  <li>
			  <b>Indoor Games</b>. I enjoy playing pool, snooker, table tennis and swimming.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			WIZBANG - project build for financial independent advisers that review pensions and discuss options suitable for the clients and suggest suitable investments.
			The project allows them to manage investments for the clients.
    		</li>
  		    </ul>
  			<li>
          IMAP - project build for financial advisers to carry out day to day tasks manage client details, allows to choose from range of investment options and manages investments of clients.
		  Also provides API services to access client details from remote sites. Allows to manage different firm registrations with the ability to have individual firm logins with personalised views
		  for firm specific client management. Project also has multi-level user management.
  			</li>
			<li>
          Managed Direct - Project is linked to IMAP through API service. It is independent investment portfolio for clients.
  			</li>

  		    <!--<h3></h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>-->
      </div>
    </div>
  </div>
</section>
